<div class="container">
<app-cockpit (serverCreated)="emitAddServer($event)" (blueprintCreated)="emitAddBlueprint($event)" ></app-cockpit>
 
  <hr>
  <div class="row">

    <button class="btn-primary" (click)="changeName()"> update server name </button>

    <app-server-element  *ngFor="let serverElement of serverElements" [element]="serverElement"  [name]="serverElement.name" >

      <p>
        <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
        <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
      </p>



    </app-server-element>
  </div>
</div>



<div class="container" >


  <div class="row">

<app-server-info></app-server-info>


  </div>

</div>

<div >


</div>

<app-card>  <a href="#" class="btn btn-primary">Go somewhere</a></app-card>
<app-card>  <a href="#" class="btn btn-primary">easy</a></app-card>